.profile-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 24px;

    --button-active-color: hsl(75, 94%, 57%);
    --button-color: hsl(0, 0%, 20%);
    --card-color: hsl(0, 0%, 12%);
    --text-main-color: hsl(0, 0%, 100%);
    --text-secondary-color: hsl(75, 94%, 57%);

    font-weight: 500;
}

.profile-card {
    background-color: var(--card-color);
    width: 384px;
    height: 600px;
    padding: 30px 20px;
    border-radius: 20px;
}

.profile-card__header {
    padding: 16px;
    padding-top: 0;
}

.profile-card__img-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-card__img {
    width: 100px;
    height: 100px !important;
    object-fit: cover;
    height: auto;
    border-radius: 50%;
}

.profile-card__name {
    color: var(--text-main-color);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.profile-card__location {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.profile-card__headline {
    color: var(--text-main-color);
    text-align: center;
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 20px;
}

.profile-card__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-card__link:link, .profile-card__link:visited {
    width: 304px;
    height: 45px;
    background-color: var(--button-color);
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: var(--text-main-color);
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}

.profile-card__link:active, .profile-card__link:hover {
    background-color: var(--button-active-color);
    color: var(--card-color);
}