.userListingPage-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.welcome-container {
    height: 5%;
    margin: 2%;
}

.toggle-tab-container-outer {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid rgb(224,224,224);
    padding: 2%;
}

.toggle-tab-container-inner {
    display: flex;
    flex-direction: row;
    width: 30%;
    /* border: 1px solid orange; */
    justify-content: space-between;

}

.toggle-tab-container-inner div {
    font-size: 1.3em;
    color: rgb(102,102,102);
    cursor: pointer;
}

.toggle-tab-container-inner div:hover {
    color: var(--logo-color);
}

.content-page-container {
    height: 90%;
}

.user-listing-display-container {
    height: 100%;
}


.userListingCard-container {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: .5px solid rgb(224,224,224);
    
}

.userListingCard-container:hover {
    background-color: var( --become-host-btn-hover-color);
}

.userListingCard-clickable-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
}
.userListingCard-info-container {
    width: 60%;
    margin-left: 2%;
    color: black;
}

.userListingCard-image-container {
    height: 200px;
    width: 250px;
}

.userListingCard-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#edit-delete-btn-container {
    width: 4%;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-delete-btn-container:hover {
    cursor: pointer;
}

.confirmDeleteListingForm-container {
    display: flex;
    height: var(--confirmation-modal-height);
    width: var(--confirmation-modal-width);
    background-color: var(--confirmation-modal-background-color);
    flex-direction: column;
    border-radius: var(--confirmation-modal-border-radius);
}

.confirmDeleteListingForm-top {
    display: flex;
    flex-direction: row;
    width: var(--confirmation-modal-top-container-width);
    height: var(--confirmation-modal-top-container-height);
}

.confirmDeleteListingForm-image-container {
    width: var(--confirmation-modal-preview-image-container-width);
    height: var(--confirmation-modal-preview-image-container-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--confirmation-modal-border-radius);
    background-color: var( --confirmation-modal-preview-image-container-background-color);
}

.confirmDeleteListingForm-preview-image {
    width: var(--confirmation-modal-preview-image-width);
    height: var(--confirmation-modal-preview-image-height);
    border-radius: var(--confirmation-modal-preview-image-border-radius);
}

.confirmDeleteListingForm-contents-container {
    width: var(--confirmation-modal-contents-container-width);
    height: var(--confirmation-modal-contents-container-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--confirmation-modal-contents-container-padding);
}

.confirmDeleteListingForm-contents-container div {
    font-size: 1.4em;
}

.confirmDeleteListingForm-bottom-container {
    width: var(--confirmation-modal-bottom-container-width);
    height: var(--confirmation-modal-bottom-container-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmDeleteListingForm-bottom-inner-container {
    width: 70%;
    height: 85%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


