.listingform-container {
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
}

.form-container{
    display: flex;
    height: 85vh;
    width: 100%;
}

.video-section-container,
.category-left-section,
.ameniti-left-section,
.bed-guest-left-section,
.address-form-left-section {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.video-description {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.addressForm-right-selection,
.title-form-container,
.price-form-container,
.category-selection-container,
.ameniti-selection-container,
.bedGuest-selection-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addressForm-content-container,
.title-content,
.price-content,
.bedGuest-content-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    align-items: center;  
}

.title-content-introduction {
    height: 85%;
    width: 100%;
    background-color: black;
}

.addressForm-content-container {
    background-color: #222222;
}

#title-form-container {
    justify-content: center;
}

.image-form-image-section-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 95%;
    /* background-color: pink; */
}

.price-content-innerContainer {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    justify-content: flex-start;
    align-items: flex-start;
    padding:2%;
}

#price-content-innerContainer-id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 20%;
    width: 80%;
    /* background-color: purple; */
    
}

.price-form-calendar {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    /* padding: 2%; */

}

.category-content-container {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
#category-content {
    overflow-y: scroll;
    height: 95%;
    width: 95%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
}





.price-section {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.price-section label {
    font-size: 2rem;
}

.price-setting-container {
    /* background-color: grey; */
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#control-button {
    min-width: 35px;
    min-height: 35px;
    border: 1px solid rgb(197,197,197);
    border-radius: 50%;
    /* cursor: pointer; */
    color: rgb(114,114,114);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#price-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 4%;
}

#price-input input {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.2rem;
    border: 1px solid rgb(197,197,197);
}

#dollar-sign {
    font-size: 1.5rem;
}

#error-message {
    color: red;
    font-weight: 600;
    width: 85%;
}

#error-message span {
    margin-right: 0.5%;
}

.title-content-div {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}

.title-content-div textarea {
    height: 50%;
    border-radius: 10px;
    padding: 1rem;
    font-size: 25px;
}

.button-container,
.button-layout {
    height: 15%;
    width: 100%;
    border-top: 2px solid rgb(235,235,235);
    display: flex;
    align-items: center;
    justify-content: center;
}

#introduction-button-container {
    height: 15%;
    width: 100%;
    border-top: 2px solid rgb(235,235,235);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
}


.button-container-div {
    /* background-color: pink; */
    height: 80%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-form-image-section-container-upper {
    border-bottom: 2px solid purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

.ameniti-content-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 100%;
}

#fileSelect {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding: 7px 15px;
}

.material-symbols-outlined,
.upload-button
{
    font-weight: 600;
}

.grid-right-inner-container-top-amentityForm-inner-block h2 {
    font-size: 25px;
}

.grid-right-inner-container-top-amentityForm-inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    width: 100%;
};

div.amentityForm-inner-block-amentiti {
    display: flex;
    flex-wrap: 'wrap';
}

div.grid-right-inner-container-top-amentityForm-inner-block-amentiti-item {
    width: 132px;
    height: 140px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.bedGuestForm-type {
    color: #222222;
    font-size: 26px;
    font-weight: 500; 
}

.grid-right-inner-container-bedGuestForm-innerDivContainer {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.bedGuestForm-number-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    /* background-color: #E61E4D; */

}

span.bedGuestForm-circle {
    width: 32px;
    height: 32px;
    border: 1px solid lightgrey;
    border-radius: 180px;
    text-align: center;
    color: rgb(114,114,114);
    font-size: 20px;
    cursor: pointer;
    
}

span.disabled {
    color: #EBEBEB;
    border: 1px solid #EBEBEB;
}

.grid-right-inner-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 95%;
    border-radius: 25px;

}

.grid-right-inner-page>form {
    height: 45%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.grid-right-inner-page>div {
    height: 55%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.grid-right-container-input {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}


.grid-right-container-input>input {
    width: 70%;
    padding: .3rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.grid-right-container-input-bottom input {
    width: 143px;
}

#address-input{
    position: relative;
}

.address-suggestion-container {
    position: absolute;
    background-color: pink;
    border-radius: 5px;
    top: 78%;
    width: 70%;
    overflow-y: scroll;
    height: 9em;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.address-suggestion-container


.video-caption {
    position: absolute;
    width: 75%;
    left: 6%;
    right: 5%;
    bottom: 15%;

}

.exit-button-introduction {
    display: flex;
    justify-content: flex-end;
    height: 10%;
}

.word-section-introduction {
    display: flex;
    height: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addressform-nextpage-button-wrapper {
    width: 100px;
    height: 50px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.addressform-nextpage-button-wrapper-disabled {
    width: 100px;
    height: 50px;
    background: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.nextpage-button-wrapper {
    width: 100px;
    height: 50px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 40px;
    padding-bottom: 0;
    position: absolute;
    bottom: 40px;
}

.exit-button-wrapper {
    width: 54px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0, 16px;
    border-radius: 40px;
    background-color: #222222;
    margin-top: 20px;
    margin-right: 40px;
}

.word-section-1-container,
.category-left-section,
.ameniti-left-section,
.bed-guest-left-section,
.address-form-left-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-section-1,
.video-caption,
.category-word-section {
    font-size: 48px;
    color: white;
    font-weight: 480;
    text-align: center;
}

.word-section-2 {
    color: white;
    font-size: 18px;
    margin-top: 35px;
}

.image-form-image-section-container-images {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 10px 20px; 
    overflow-y: scroll;  
    margin: 1.5em;
}

.image-section-layout {
    position: relative;
}

.image-drop-down-button {
    position: absolute;
    right: 4%;
    top: 5%;
    padding-bottom: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: rgb(104,101,97);
    width: 36px;
    height: 30px;
    /* border: 2px solid black; */
    border-radius: 180px;
    background-color: rgb(207,205,201);
    opacity: 0.8;
}

.image-drop-down-button:hover {
    background-color: #EBEBEB;
}

.image-drop-down-container {
    position: relative;
}

.image-drop-down {
    position: absolute;
    right: 5%;
    top: 2.5rem;
    background-color: white;
    border-radius: 7px;
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding-left: 2%; */
}

.image-drop-down div {
    font-weight: 600;
    height: 100%;
    text-align: center;
    border-radius: 7px;
}

.image-drop-down div:hover {
    background-color: rgb(238,238,238);
}

.cover-photo-logo {
    position: absolute;
    font-size: 15px;
    top: 4%;
    left: 1.5%;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.delete-image:hover {
    font-size: 20px;
}

.dropable-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed lightgrey;
    border-radius: 5px;
}

#image-drop-zone {
    position:absolute;
    top: 10%;
    height: 80%;
    width: 45%;
    right: 40px;
    border: 1px dashed grey;
    background-color: rgb(247,247,247);
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    font: grey;
}

.edit-photo-modal-container {
    display: flex;
    height: 80vh;
    width: 90vw;
    flex-direction: column;
}

.edit-photo-moal-title {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    border-bottom: 1px solid rgb(235,235,235);
}

.edit-photo-moal-title div {
    width: 50%;
    font-weight: 600;
}

#edit-photo-modal-title-div {
    font-weight: 400;
    font-size: 18px;
    height: 32px;
    width: 32px;
    border-radius: 180px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#edit-photo-modal-title-div:hover {
    background-color: rgb(247,247,247);
}

#edit-photo-modal-title-div p {
    color: rgb(34,34,34);
}

.edit-photo-modal-photo-container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.edit-photo-image {
    width: 58%;
    margin-left:2%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,247,247);
}

.edit-photo-image img {
    height: 100%;
    width: 65%;
}

.edit-photo-caption-container {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-photo-caption-inner-container {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
}

.edit-photo-caption-inner-container textarea {
    height: 50%;
    border: 1px solid rgb(176,176,176);
    border-radius: 10px;
}

.edit-photo-caption-inner-container div {
    font-size: 22px;
}

.edit-photo-caption-inner-container p {
    color: rgb(176,176,176);
}

.edit-photo-modal-button-container {
    height: 15%;
    border-top: 1px solid rgb(235,235,235);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}


#edit-photo-modal-delete-button {
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#edit-photo-modal-delete-button:hover {
    background-color: rgb(247,247,247);
}

.edit-photo-modal-button-container u {
    font-weight: 500;
    cursor: pointer;
}

.edit-photo-modal-save-button {
    width: 84px;
    height: 48px;
    background-color: rgb(34,34,34);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit-photo-modal-save-button-disabled {
    width: 84px;
    height: 48px;
    background-color: rgb(221,221,221);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed
}

.edit-photo-modal-save-button:hover {
    background-color: #000;
}

.edit-photo-modal-save-button div,
.edit-photo-modal-save-button-disabled div {
    color: white;
    font-weight: 600;
    text-align: center;
}

.category-left-section,
.ameniti-left-section,
.bed-guest-left-section,
.address-form-left-section {
    background-image: linear-gradient(#E61E4D, #E61E4D,#E61E4D, #BD1E59, #BD1E59, #92174D, #92174D, #861453, #59086E,#460479,#440589);
}


video::-webkit-media-controls-fullscreen-button
{
        display: none !important;
}

video::-webkit-media-controls-mute-button  {
    display:none;
}

video::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    position: absolute;
    width: 40px;
    height: 45px;
    right: 45px;
    bottom: auto;
    background-color: #000;
    border-radius: 50%;
}

video::-webkit-media-controls-play-button:hover {
    opacity: 0.8;
}

video::-webkit-media-controls-timeline {
    display:none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}

video::-webkit-media-controls-time-remaining-display {
    display: none;
}



