.listingform-container {
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
}
.list-post-page1 {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 100%;
    background-color: #000;
}

.address-form-container,
.ameniti-form-container,
.image-form-container
{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50vw;
}

.form-container {
    display: flex;
    height: 85vh;
    width: 100%;
    /* background-color: pink; */
}

.video-section-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.video-description {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.title-form-container,
.price-form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title-content,
.price-content {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    align-items: center;
}

.price-content-innerContainer {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
    justify-content: space-around;
}

.price-content-innerContainer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: pink; */
}

.price-content-innerContainer label {
    font-size: 2rem;
}

.price-setting-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.price-setting-container #control-button {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(197,197,197);
    border-radius: 180px;
    cursor: pointer;
    color: rgb(114,114,114);
    font-weight: 700;
}

.price-setting-container input {
    width: 50%;
    height: 90%;
    border-radius: 10px;
}

.price-setting-container #dollar-sign {
    font-size: 1.5rem;

}

.title-content-div {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}

.title-content-div textarea {
    height: 50%;
    border-radius: 10px;
    padding: 1rem;
    font-size: 25px;
}

.button-container {
    height: 15%;
    width: 100%;
    border-top: 2px solid rgb(235,235,235);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container-div {
    /* background-color: pink; */
    height: 80%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.grid-left-container {
    background-image: linear-gradient(#E61E4D, #BD1E59,#BD1E59, #92174D,#861453, #59086E,#460479,#440589);
}

.grid-right-container
 {
    display: grid;
    grid-template-rows: 750px auto;
    background-color: black;
}

.grid-right-container-bedGuestForm,
.grid-right-container-amenityForm,
.grid-right-container-image-form
{
    display: grid;
    grid-template-rows: 750px auto;
}

.image-form-image-section-container {
    display: grid;
    grid-template-rows: 180px auto;
}

.image-form-image-section-container-upper {
    border-bottom: 2px solid purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-right-inner-container-top-amentityForm {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fileSelect {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding: 7px 15px;
}

.material-symbols-outlined,
.upload-button
{
    font-weight: 600;
}

.grid-right-inner-container-top-amentityForm-inner-block h2 {
    font-size: 25px;
}

.grid-right-inner-container-top-amentityForm-inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    width: 100%;
};

div.amentityForm-inner-block-amentiti {
    display: flex;
    flex-wrap: 'wrap';
}

div.grid-right-inner-container-top-amentityForm-inner-block-amentiti-item {
    width: 132px;
    height: 140px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.grid-right-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-right-inner-container-bedGuestForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bedGuestForm-type {
    color: #222222;
    font-size: 26px;
    font-weight: 500; 
}

.grid-right-inner-container-bedGuestForm-innerDivContainer {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.bedGuestForm-number-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    /* background-color: #E61E4D; */

}

span.bedGuestForm-circle {
    width: 32px;
    height: 32px;
    border: 1px solid lightgrey;
    border-radius: 180px;
    text-align: center;
    color: rgb(114,114,114);
    font-size: 20px;
    cursor: pointer;
    
}

span.disabled {
    color: #EBEBEB;
    border: 1px solid #EBEBEB;
}

.grid-right-inner-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 600px;
    border-radius: 25px;
}


.grid-right-container input {
    width: 286px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;

}

.grid-right-container-input-bottom input {
    width: 143px;
}

.video-section {
    max-height: 100%;
    position: relative
}

.video-caption {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20%;

}

.word-section {
    display: grid;
    grid-template-rows:300px, auto, 300px;
    height: 100%;
}

.grid-1 {
    display: flex;
    justify-content: flex-end;
}

.grid-3 {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.button-layout{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border-top: 3px solid rgb(235,235,235);
}


.addressform-nextpage-button-wrapper {
    width: 100px;
    height: 50px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.addressform-nextpage-button-wrapper-disabled {
    width: 100px;
    height: 50px;
    background: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.nextpage-button-wrapper {
    width: 100px;
    height: 50px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 40px;
    padding-bottom: 0;
    position: absolute;
    bottom: 40px;
}

.exit-button-wrapper {
    width: 54px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0, 16px;
    border-radius: 40px;
    background-color: #222222;
    margin-top: 20px;
    margin-right: 40px;
}

.grid-2,
.grid-left-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-section-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-section-1,
.video-caption {
    font-size: 48px;
    color: white;
    font-weight: 48px;
    text-align: center;
}

.word-section-2 {
    color: white;
    font-size: 18px;
    margin-top: 35px;
}

.image-form-image-section-container-images {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 10px 20px; 
    overflow-y: scroll;  
    margin: 1.5em;
}

.image-section-layout {
    position: relative;
}

.image-drop-down-button {
    position: absolute;
    right: 4%;
    top: 5%;
    padding-bottom: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: rgb(104,101,97);
    width: 36px;
    height: 30px;
    /* border: 2px solid black; */
    border-radius: 180px;
    background-color: rgb(207,205,201);
    opacity: 0.8;
}

.image-drop-down-button:hover {
    background-color: #EBEBEB;
}

.image-drop-down-container {
    position: relative;
}

.image-drop-down {
    position: absolute;
    right: 5%;
    top: 2.5rem;
    background-color: white;
    border-radius: 7px;
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding-left: 2%; */
}

.image-drop-down div {
    font-weight: 600;
    height: 100%;
    text-align: center;
    border-radius: 7px;
}

.image-drop-down div:hover {
    background-color: rgb(238,238,238);
}

.cover-photo-logo {
    position: absolute;
    font-size: 15px;
    top: 4%;
    left: 1.5%;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.delete-image:hover {
    font-size: 20px;
}

.dropable-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed lightgrey;
    border-radius: 5px;
}

#image-drop-zone {
    position:absolute;
    top: 20%;
    height: 90%;
    width: 45%;
    right: 40px;
    border: 1px dashed grey;
    background-color: rgb(247,247,247);
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    font: grey;
}

.edit-photo-modal-container {
    display: flex;
    height: 80vh;
    width: 90vw;
    flex-direction: column;
}

.edit-photo-moal-title {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    border-bottom: 1px solid rgb(235,235,235);
}

.edit-photo-moal-title div {
    width: 50%;
    font-weight: 600;
}

#edit-photo-modal-title-div {
    font-weight: 400;
    font-size: 18px;
    height: 32px;
    width: 32px;
    border-radius: 180px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#edit-photo-modal-title-div:hover {
    background-color: rgb(247,247,247);
}

#edit-photo-modal-title-div p {
    color: rgb(34,34,34);
}

.edit-photo-modal-photo-container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.edit-photo-image {
    width: 58%;
    margin-left:2%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,247,247);
}

.edit-photo-image img {
    height: 100%;
    width: 65%;
}

.edit-photo-caption-container {
    height: 95%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-photo-caption-inner-container {
    width: 80%;
    height: 65%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
}

.edit-photo-caption-inner-container textarea {
    height: 50%;
    border: 1px solid rgb(176,176,176);
    border-radius: 10px;
}

.edit-photo-caption-inner-container div {
    font-size: 22px;
}

.edit-photo-caption-inner-container p {
    color: rgb(176,176,176);
}

.edit-photo-modal-button-container {
    height: 15%;
    border-top: 1px solid rgb(235,235,235);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}


#edit-photo-modal-delete-button {
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#edit-photo-modal-delete-button:hover {
    background-color: rgb(247,247,247);
}

.edit-photo-modal-button-container u {
    font-weight: 500;
    cursor: pointer;
}

.edit-photo-modal-save-button {
    width: 84px;
    height: 48px;
    background-color: rgb(34,34,34);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit-photo-modal-save-button-disabled {
    width: 84px;
    height: 48px;
    background-color: rgb(221,221,221);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed
}

.edit-photo-modal-save-button:hover {
    background-color: #000;
}

.edit-photo-modal-save-button div,
.edit-photo-modal-save-button-disabled div {
    color: white;
    font-weight: 600;
    text-align: center;
}


video::-webkit-media-controls-fullscreen-button
{
        display: none !important;
}

video::-webkit-media-controls-mute-button  {
    display:none;
}

video::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    position: absolute;
    width: 40px;
    height: 45px;
    right: 45px;
    bottom: auto;
    background-color: #000;
    border-radius: 50%;
}

video::-webkit-media-controls-play-button:hover {
    opacity: 0.8;
}

video::-webkit-media-controls-timeline {
    display:none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}

video::-webkit-media-controls-time-remaining-display {
    display: none;
}

