/* TODO Add site wide styles */
:root {
    --navbar-height: 15vh;
    --navbar-width: 100%;
    --inner-navbar-height: 100%;
    --inner-navbar-width: 95%;
    --logo-color: rgb(255,56,92);
    --logo-font-size: 1.5em;
    --logo-font-weight: 700;

    --profile-dropdown-border: 1.5px solid rgb(226,226,226);
    --profile-dropdown-height: 45px;
    --profile-dropdown-width: 70px;
    --profile-dropdown-borderRadius: 21px;
    --profile-dropdown-icon-color: rgb(98,98,98);
    --profile-dropdown-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);

    --navbar-right-section-width: 15%;
    --become-host-btn-color: rgb(34,34,34);
    --become-host-btn-text-size: 14px;
    --become-host-btn-hover-color: rgb(247,247,247);

    --profileDropDownContainer-right-distance: 0.5em;
    --profileDropDownContainer-border-radius: 13px;

    --confirmation-modal-height: 70vh;
    --confirmation-modal-width: 50vw;
    --confirmation-modal-background-color: white;
    --confirmation-modal-border-radius: 5%;
    --confirmation-modal-top-container-width: 100%;
    --confirmation-modal-top-container-height: 80%;
    --confirmation-modal-preview-image-container-width: 50%;
    --confirmation-modal-preview-image-container-height: 100%;
    --confirmation-modal-preview-image-container-background-color: rgb(247,247,247);
    --confirmation-modal-preview-image-width: 85%;
    --confirmation-modal-preview-image-height: 80%;
    --confirmation-modal-preview-image-border-radius: 3%;
    --confirmation-modal-contents-container-width: 50%;
    --confirmation-modal-contents-container-height: 100%;
    --confirmation-modal-contents-container-padding: 5%;
    --confirmation-modal-bottom-container-width: 100%;
    --confirmation-modal-bottom-container-height: 20%;

    --disabled-btn-background-color: rgb(221,221,221);
    --charcoal-grey-color-code: #36454F;
    --white-smoke-hover-color: #F5F5F5;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

p {
    all: unset;
}