/* .booking-container {
    border: solid 3px red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.singleListingPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.listingContent {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.singleListingTitleContainer {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.singleListingTitleContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.singleListing-lowerTitle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.singleListing-lowerTitle-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.singleListing-lowerTitle-left-container div {
    margin-right: 10px;
}

.upperTitle h1 {
    font-size: 26px;
    color: #222222;
}

.reviewStar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.singleListing-lowerTitle-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.wishListHeart-container {
    display: flex;
    flex-direction: row;
}

.wishListHeart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wishListSaveText {
    margin-left: 5px;
}

.single-listing-send-message-btn-container {
    width: 140px;
    height: 35px;
    background-color: rgb(34,34,34);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    margin-left:8%
}

.singleListingImageContainer {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.singleListingImagesContent {
    width: 99%;
    height: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftPreviewImage {
    height: 100%;
    width: 49%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.leftPreviewImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.singleListingrightImageContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.singleListingrightImages {
    width: 50%;
    height: 50%;
}

.singleListingrightImages img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#right-upper-coner-images {
    border-top-right-radius: 15px;
}

#right-bottom-coner-images {
    border-bottom-right-radius: 15px;
}

.singleListingAmenity-container {
    display: flex;
    flex-direction: column;
}

.amenity-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.single-amenity-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 150px;
    border: .5px solid gray;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    background-color: rgb(247,247,247);
}

#singleListing-amenity-name {
    margin-left: 5px;
}

.aveRatingAndNumReviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

#singleListingReview-font {
    font-size: 22px;
    font-weight: 500;
    margin-right: 5px;
}

.custom-progress-bar {
    height: 5px;
    width: 150px;
}

.custom-progress-bar .progress-bar {
    background-color: black;
}

.singleListing-aveRatingBars-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.singleListing-leftRatings-container {
    width: 49%;
}

.singleListing-rightRatings-container {
    width: 49%;
}

.singleListig-avgRatingBars-single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.singleListing-progressBar-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.progress-bar-item {
    flex: 1
}

.singleListing-progresBar-font {
    color: rgb(65,65,65);
    font-weight: 400;
    font-size: 17px;
}

.singleListing-reviewCard-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5%;
}

.singleListing-review-upper-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.singleListing-reviewContent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.singleListing-review-content {
    width: 80%;
}

.singleListing-profile-picture {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(34,34,34);
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.review-created-time {
    color: rgb(174,174,174)
}

.hostAndSpecsContainer {
    display: flex;
    justify-content: space-between;
}

.singleListing-booking-container {
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(128,128,128,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;
}

.singleListing-booking-inner-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-reviews-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pricePerDay-booking {
    font-size: 22px;

}

.price-reviews-container-right-section {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.booking-guest-selectField-container {
    margin-top: 5%;
}

.reserve-button-container, 
.booking-datePicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.fee-calculate-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-form-main-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 75vw;
}




.review-form-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: 15%;
}

.review-form-content-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    width: 80%;
    /* border: 2px solid blue; */
}

.review-star-section {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid salmon; */

}

.review-content-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.revireForm-contentTextArea-label {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.revireForm-contentTextArea {
    border-radius: 15px;
    padding: 5%;
    height: 87%;
    width: 90%;
    font-size: 20px;
    color: rgb(62,62,62);
}

.cancel-delete-btn-container {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cancel-delete-btn-inner-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review-form-submit-btn {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
}

.review-star-section label {
    font-size: 1.2em;
    font-weight: 600;
}

.review-each-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.review-form-submit-btn-disabled {
    width: 140px;
    height: 35px;
    background-color: var(--disabled-btn-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    margin-left:8%;
    cursor: not-allowed;
    border: none;
}

.single-listing-listingReviews {
    margin-top: 2%;
}









